.Categoria{
    background-color: #6BD1FF;
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    color: var(--Blanco-Grisado);
    font-weight: 400;
    font-size: 3.125rem;
    text-align: center;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}