:root {
    /*Colores*/
    --Color-Primario: #2ae433;
    --Color-Secundario: #268eed;
    --Gris-Bajo: #9E9E9E;
    --Gris-Medio: #00000080;
    --Gris-Fuerte: #00000099;
    --Blanco-Grisado: #F5F5F5;
    --Negro: #000000;
    --Lima: #9CD33B;
    --Naranja: #FF8C2A;
    --Amarillo: #FFBA05;
    /*Fuentes*/
    --Fuente-Principal: 'Roboto';
    /*Categorias*/
    --CatSuperheroes:#6BD1FF;
    --CatTerror: #6B5BE2;
    --CatCienciaFiccion: #00C86F;
    --CatAnimacion: #DC6EBE;
    --CatAccion: #e63535;
}

*{
    font-family: var(--Fuente-Principal), sans-serif;
}
html{
    font-size: 100%;
}
body{
    background-color: rgba(0, 0, 0, .95);
}

/*Adaptabilidad*/

/*TV*/
@media screen and (min-width: 1282px) {
    html{
        font-size: 130%;
    }
}

/*PC*/
@media screen and (max-width: 1281px) {
    html{
        font-size: 95%;
    }
}

/*Tablets*/
@media screen and (max-width: 768px) {
    html{
        font-size: 85%;
    }
}

/*Movil*/
@media screen and (max-width: 482px) {
    html{
        font-size: 100%;
    }
}






